*{
    
    padding:0px;
    box-sizing: border-box;
}
html,body{
    height:100%;
}
.container{
    background-color:aqua;
    width:80%;
    height:80%;
    margin-top:2rem;
    
    position: relative;
}
.box1,.box2,.box3{
    width:20%;
    height:20%;
}
.box1{
    background-color: blue;
    position:absolute;
    top:0%;
    left:50%;

}
.box2{
    background-color: blueviolet;
   
}
.box3{
    background-color: crimson;
}