*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}

div{
    background-color: brown;
    min-height: 50vh;
    width:50%;
    font-size: 2.4rem;
}
div h1{
    background-color: lightblue;
    width:30vw;

}